<i type="button" class="bi bi-pencil-square"  data-bs-toggle="modal" data-bs-target="#2"></i>

<div id="2" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row" [formGroup]="form">
            <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input id="name" required maxlength="255" formControlName="name" type="text" class="form-control">
            </div>
            <div class="col-6">
                <label for="price" class="form-label">Price</label>
                <input id="price" required min="1" formControlName="price" type="number" class="form-control">
            </div>
            <div class="col-6">
                <label for="stock" class="form-label">Stock</label>
                <input id="stock" required formControlName="stock" type="number" class="form-control">
            </div>
           
            <div class="mb-3">
                <label  id="description" for="description" class="form-label">Description</label>
                <textarea class="form-control" maxlength="5000"  formControlName="description" id="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Photo</label>
                <input id="photo" type="file" formControlName="photo" (change)="onImagePicked($event)">
            </div>
           

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="update()" data-bs-dismiss="modal" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
</div>